/* styles.css */

/* Basic list styles */
.list {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    list-style: none;
    margin: 0;
}

.list li {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    /* Mobile Styles */
    .list {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        padding-top: 5px;
        padding-left: 10px;
        padding: 10px; /* Add some padding to the list for better mobile display */
    }
    
    .list li {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        padding-top: 5px;
        padding-left: 10px;
        padding: 5px; /* Adjust the padding for list items on mobile */
    }
}
