<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/assets/data/MDD.zip"
            >Download the Database</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/taxa.html">Explore Taxonomy</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/tree.html">Treeview</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/explore.html">Search Species</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/linksToData.html">Links to Mammal Data</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/about.html">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
