<ul class="header-ul">
<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
<li><a href="{{ site.baseurl }}/assets/data/MDD.zip">Download the Database</a></li>
<li><a href="{{ site.baseurl }}/taxa.html">Explore Taxonomy</a></li>
<li><a href="{{ site.baseurl }}/tree.html">Treeview</a></li>
<li><a href="{{ site.baseurl }}/explore.html">Search Species</a></li>
<li><a href="{{ site.baseurl }}/linksToData.html">Links to Mammal Data</a></li>
<li style="float:right"><a href="{{ site.baseurl }}/about.html">About</a></li>
</ul>
